{% load static %}


<html>


<body bg="cyan">
<div>|
      

<h2 style="align : center">User Profile</h2>

  <div> 
  <p> firstname : <b>{{first_name}}</b></p> 
  </div>
  
  <div>
  <p > lastname  : <strong>{{last_name}}</strong></p> 
  </div>

  <div style="display: flex">
  <p> username  : <strong>{{username}}</strong></p> 
  </div>

  <div>
  <p> age : <strong>{{my_name}}</strong><p> 
  </div>

  <div>
  <p> phone_number : <strong>{{my_name}}</strong></p> 

      </div>
      
  <p>

<img src="{% static 'on.jpeg' %}" alt="home" />

</p>
     
  

<div>
  <p> email : <strong>{{email}}</strong></p>
                  
       
  </div>

<div>
   <p>
     for more informaion follow this link adress..
     </p>

     <a href="{% url 'dev' %}">click here</a>
</div>
</body>


</html>

           