
 

<form action = "{% url 'Login' %}" method="POST">
     {% csrf_token %}
     <div class= "container">
<h2>sign_app</h2>
    <p> enter details to Login</p>
    <hr>
       <label for="username"><b>username</b></label>
<input type ="text" placehaolder="username" name= "username" required>
   <label for="pass"><b>Password</b></label>
   <input type = "password" placehaolder="Password" name ="Password" required>


   

      <button type="submit" class="signup">Login</button>
    </div>
  </div>
</form>