

<form action = "{% url 'register' %}" method="post">
{% csrf_token %}

     <div class= "container">
<h2>sign_app</h2>
    <p> enter details to Login</p>
    <hr>                   
       <label for="username"><b>username</b></label>
<input type ="text" placehaolder="username" name= "username" required>
   <label for="pass"><b>Password</b></label>
   <input type = "password" placehaolder="Password" name ="Password" required>
<label for="first_name"><b>first_name</b></label>
    <input type="text" placehaolder="first_name" name="first_name">

<label for="last_name"><b>last_name</b></label>
    <input type="text" placehaolder="last_name" name="last_name">

    <label for="pass repeat"><b>Repeat Password</b></label>
    <input type="password" placeholder="Repeat Password" name="repeat" required>
<label for="email"><b>email</b></label>
    <input type="text" placehaolder="email" name="email">
<label for = "photo"><b>Profile</b></label>
<input type="file" placehaolder="photo" name= "profile">

<label for = "age"><b>age</b></label>
<input type ="number" placehaolder="age" name= "age">
<label for = "phone_number"><b>phone_number</b></label>
<input type ="number" placehaolder="phone_number" name= "phone_number">

<button type="button" class="cancel">Cancel</button>
      <button type="submit" class="signup">Sign Up</button>
    </div>
  </div>
</form>